.arka-plan {
    background-color:burlywood;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.kutu {
    background-color: #eee;
            padding: 10px;
            margin: 100px;
            width: 400px;
            height: 300px;
            border: 2px solid #333;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            
        }

.kutu p {
    color: #333;
        font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
